* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    cursor: url('./assets/Cursor/CursorDefault.svg'), auto;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: var(--White);
}

::-webkit-scrollbar-thumb {
    background-color: var(--Red);
}

:root {
    --White: #EEEEEE;
    --Red: #E05043;
    --ErroRed: #b60000;
    --Beige: #F5F5DC;
    --Pink: #DE97FF;
    --Gray: #707070;
    --Orange: #FFA500;
    --Blue: #87CEEB;
    --DarkBlue: #5397B2;
    --PinkBg: #FFB6C1;
    --Transparent: rgba(29, 41, 67, 0.3);
    --Pointer: url('./assets/Cursor/CursorPointer.svg'), pointer;
}